<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="departmentDao" class="top.ottofans.assignment_3.dao.DepartmentDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="departmentService" class="top.ottofans.assignment_3.service.impl.DepartmentServiceImpl">
        <property name="departmentDao" ref="departmentDao"/>
    </bean>

    <bean id="test" class="top.ottofans.assignment_3.action.TestAction">
        <constructor-arg ref="departmentService"/>
        <property name="departmentService" ref="departmentService"/>
    </bean>

</beans>